---
import SparklesCore from "../components/SparklesCore.tsx";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/11.1.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.1.0/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyAOQDaUwb9p9imBv5025lP_86EsGLT2Fvs",
    authDomain: "portfolio-rcr.firebaseapp.com",
    projectId: "portfolio-rcr",
    storageBucket: "portfolio-rcr.firebasestorage.app",
    messagingSenderId: "206282207709",
    appId: "1:206282207709:web:82498adcb9b9c642494634",
    measurementId: "G-M8XW9PKVHN"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>
  </head>

  <body
    class="bg-black leading-relaxed text-neutral-200 tracking-wide antialiased selection:bg-neutral-300 selection:text-neutral-900 z-10 relative"
  >
    <SparklesCore
      client:idle
      id="tsparticlesfullpage"
      background="transparent"
      minSize={0.6}
      maxSize={1.4}
      opacity={0.2}
      particleDensity={100}
      className="w-full h-full fixed z-0"
      particleColor="#FFFFFF"
    />
    <slot />
    <script src="../scripts/main.ts"></script>
  </body>

  <style is:global>
    html {
      font-family: system-ui, sans-serif;
      background-size: 224px;
      font-size: 1.125rem;
    }
  </style>
</html>
